<html>
    <head>
        <meta charset="UTF-8">
        <title>Мой парсер HH</title>
        <link href="main.css" rel="stylesheet">
    </head>
    <body>
    <!-- комментарии -->
    <h1>
        <hr>
        Мой парсер HH
        <hr>
    </h1>
    <h2>
        Это главная страница
    </h2>
    <h3>
        Информация о системе
    </h3>
<!--<p> для нового абзаца-->
    <br />
    <p>Парсер написан как домашнее задение.</p>
    <br />
    <p>Умеет парсить вакансии на HH, <br> с анализом скилов и регионов размещения вакансии</p>
    <br />
    <p>записывает данные на диск</p>
<!--    -->
    <a href="form.html">начать поиск</a>
    <br />
    <hr>
    <a href="results.html">результаты</a>

        <p class="proverb">
<!--    <p style="color: green">   -->

        Без труда не выловишь
        <br />
        Хочешь кататься
        <br />
        Работа не волк
        <br />
    </p>

    </body>

</html>